@font-face {

  font-family: 'Pixelify Sans', sans-serif;

  src: url('./PixelifySans-Regular.woff2') format('woff2'),
  url('./PixelifySans-Regular.woff') format('woff');

  font-weight: 600;

  font-style: normal;

}

.hello {
  color: red;
  font-family: 'Pixelify Sans';
  background: url('./icon.png');
}
